@use "theme" as lean-theme;
@use "~@angular/material" as mat;

$content_max_width: 1440px;

header {
  width: 100%;
  max-width: $content_max_width;
}

.content_outer {
  width: 100%;
  padding: 30px 16px;
}

.content_inner {
  width: 100%;
  max-width: $content_max_width;
}

// Example of menu button with checkbox behaviour
.menu_checkbox {
  position: relative;
  label {
    display: block;
    position: absolute;
    width: 47.5px;
    height: 45px;
    left: 0;
    top: -5px;
    cursor: pointer;
  }
  input[type="checkbox"] {
    visibility: hidden;
  }
}
