<ng-template #notFound>
  <p>Scenario not found</p>
</ng-template>

<ng-container *ngIf="$scenarioConfig | async as scenarioConfig; else notFound">
  <p *ngIf="this.userId">You are: {{ this.playerRole(scenarioConfig) }}</p>
  <mat-tab-group
    mat-align-tabs="center"
    animationDuration="0"
    dynamicHeight
    (selectedTabChange)="tabChanged($event)"
  >
    <mat-tab label="First">
      <ll-pipeline-scenario [isActive]="tab1Active"></ll-pipeline-scenario>
    </mat-tab>
    <mat-tab label="Second">
      <ll-pipeline-scenario [isActive]="tab2Active"></ll-pipeline-scenario>
    </mat-tab>
    <mat-tab label="Third">
      <ll-pipeline-scenario [isActive]="tab3Active"></ll-pipeline-scenario>
    </mat-tab>
  </mat-tab-group>
</ng-container>
